<div class="container">
    <div class="signup-form">
        <form method="post" action="/admin/login">
            <div class="container">
                <div class="col-md-12">
                    <h2>Admin Login</h2>
                </div>
            </div>
            <fieldset class="padding-top-25">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Username"
                                required="required">
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password"
                                required="required">
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
                <div class="form-group align-center">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
                </div>

            </fieldset>

        </form>
        <!--<div class="text-center">Already have an account? <a href="#">Sign in</a></div>-->
    </div>
</div>