
            <main>
                <div class="container-fluid px-4">
                    <h2 class="mt-4">Your profile</h2>
                    <div class="card mb-5">
                        <div class="card-body">
                            <table class="application-table">
                                <tbody>
                                    <tr>
                                        <td>Name -</td>
                                        <td>{{data.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email -</td>
                                        <td>{{data.email}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </main>