    <main>
        <div class="container-fluid px-4" id="sss">
            <h2 class="mt-4">Your profile</h2>
            <div class="card mb-5">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Name:-</td>
                                <td>{{data.name}}</td>
                            </tr>
                            <tr>
                                <td>Email:-</td>
                                <td>{{data.email}}</td>
                            </tr>
                            <tr>
                                <td>Password:-</td>
                                <td>{{data.password}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<style>
    body {
        background-color: #00FFFF;
    }
    #sss{
        width: 25%;
        text-align: center;
    }
    h2{
        text-align: center;
    }
    main{
        padding-top: 100px;
    }
</style>